#text {
    color: red;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
#canvas {
    width: 600px;
    height: 300px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#buttons {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#counter {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
