#button {
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
#title {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 2.5em;
    letter-spacing: 2px;
}